/* Updated CSS themes, to be merged with child-dii theme */

h1 { font-size: 32px; }
h2 { font-size: 28px; }

#top-menu li > a { padding-bottom: 38px; }

.nav ul li a:hover, .et_mobile_menu li a:hover { background-color: #E1E0D8 !important; }

.et_mobile_menu {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-family: Avenir, Helvetica, sans-serif;
    background-color: #708733;
    color: #E8E4DC;
}

.et_mobile_menu li a { color: #E8E4DC; border-bottom: none; }

.et_mobile_menu .menu-item-has-children > a {
    background-color: #E8E4DC;
    color: #708733;
}

.et_mobile_menu li .menu-item-has-children > a {
    background-color: #708733;
    color: #E8E4DC;
}

/*-------------------[480px]------------------*/
@media only screen and (max-width: 767px) {
    #et-top-navigation {
        margin-top: 10px;
    }
}

/*-------------------[320px]------------------*/
@media only screen and (max-width: 479px) {
    #et-top-navigation {
        margin-top: 10px;
    }
}

/* Gallery hover
 * Note this may not be used since I switched to a different gallery
 */


.gallery a {
	position: relative;
}

.gallery a::before {
	content: attr(data-name);
	background-color: rgba(113, 136, 56, 0.5);
	width: 150px;
	height: 150px;
	line-height: 275px;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	font-family: Avenir, Helvetica, sans-serif;
}

.et-search-form.et-hidden {
	display: none !important;
}
